# Recovery init for Nubia V80 Max (Z2577) — ro.hardware=ums9230_6h10
import /init.recovery.common.rc

service keystore2 /system/bin/keystore2 /data/misc/keystore
    class main
    user root
    group root
    seclabel u:r:recovery:s0

service keymint-2-0 /system/bin/android.hardware.security.keymint@2.0-unisoc.service.trusty
    interface aidl android.hardware.security.keymint.IKeyMintDevice/default
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service.trusty
    interface hidl android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service boot-hal-1-2 /system/bin/android.hardware.boot@1.2-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on init
    setprop crypto.ready 1
    start boot-hal-1-2
    start keymint-2-0
    start gatekeeper-1-0

on boot
    start health-hal-2-1
